*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.welcomeText{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.aboutContainer{
    height: 500px;
    display: flex;
}
.aboutLeft img{
    height: 450px;
}
.aboutLeft{
    width: 40%;
    margin-left: 200px;
}
.aboutRight{
    width: 40%;
    text-align: center;
    margin-top: 200px;
}
.aboutTitle{
    font-weight: bold;
    font-size: 32pt;
    margin-bottom: 10px;
}
.professionalContainer{
    height: 500px;
    display: flex;
}
.professionalLeft{
    width: 40%;
    text-align: center;
    margin-top: 115px;
    margin-left: 125px;
}
.professionalTitle{
    font-weight: bold;
    font-size: 32pt;
    margin-bottom: 10px;
}
.professionalText{
    margin-bottom: 20px;
}
.professionalButton{
    height: 50px;
    background-color: white;
    border-color: black;
    border-radius: 20px;
    font-size: 12pt;
    padding: 10px;
    transition: 200ms;
}
.professionalButton:hover{
    cursor: pointer;
    color: blue;
    border-color: blue;
}
.professionalRight img{
    height: 300px;
}
.professionalRight{
    width: 40%;
    margin-left: 100px;
    margin-top: 50px;
}
/* .projectsContainer{
    height: 500px;
    display: flex;
}
.projectsLeft img{
    height: 300px;
}
.projectsLeft{
    width: 40%;
    margin-left: 150px;
}
.projectsRight{
    width: 40%;
    text-align: center;
    margin-left: 50px;
    margin-top: 75px;
}
.projectsTitle{
    font-weight: bold;
    font-size: 32pt;
    margin-bottom: 10px;
}
.projectsText{
    margin-bottom: 20px;
}
.projectsButton{
    height: 50px;
    background-color: white;
    border-color: black;
    border-radius: 20px;
    font-size: 12pt;
    padding: 10px;
    transition: 200ms;
}
.projectsButton:hover{
    cursor: pointer;
    color: blue;
    border-color: blue;
} */