*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 25px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 300px;
    height: 200px;
    background-color:gray;
    margin: 20px;
    margin-top: 50px;
    border-radius: 10%;
    background-size: cover; 
    transition: 300ms;
    text-align: center;
}
.item:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.background1{
    opacity: 0.5;
    transition: 300ms;
    background-size: cover; 
    background-image: url(../img/reflectieverslag.jpg); 
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.background1:hover{
    opacity: 1;
}
.background2{
    opacity: 0.5;
    transition: 300ms;
    background-size: cover; 
    background-image: url(../img/feedback.jpg); 
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.background2:hover{
    opacity: 1;
}
.background3{
    opacity: 0.5;
    transition: 300ms;
    background-size: cover; 
    background-image: url(../img/planvanaanpak.jpg); 
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.background3:hover{
    opacity: 1;
}
.background4{
    opacity: 0.5;
    transition: 300ms;
    background-size: cover; 
    background-image: url(../img/notulen.jpg); 
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.background4:hover{
    opacity: 1;
}
.background5{
    opacity: 0.5;
    transition: 300ms;
    background-size: cover; 
    background-image: url(../img/agenda.jpg); 
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.background5:hover{
    opacity: 1;
}
.background6{
    opacity: 0.5;
    transition: 300ms;
    background-size: cover; 
    background-image: url(../img/edumundo.jpg); 
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.background6:hover{
    opacity: 1;
}
.background7{
    opacity: 0.5;
    transition: 300ms;
    background-size: cover; 
    background-image: url(../img/presenteren.jpg); 
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.background7:hover{
    opacity: 1;
}